<a href="{{ url }}" data-pid="{{ current_variant_id }}" class="js_quick_view button-quick-view"
   data-js-popup-button="quick-view" aria-label="link" 
   >
  <i class="laber-icon icon-eye"></i>
  <div class="laber-loading">
      <div class="circle-loadding"><span></span></div>
  </div>	
  <span class="text">{{'products.grid_items.quick_view' | t  }}</span>
</a>