{% render 'footer_1' %}
{%- render 'section_style' -%} 
{%- schema -%}
  {
    "name": "Footer style 1",
    "class": "footer_top",
    "max_blocks": 10,
    "settings": [ 
      
      {
        "type": "header",
        "content": "== Footer"
      },
        {
          "type": "checkbox",
          "id": "full_width",
          "label": "Full width",
          "default": false
        },
      {
        "type": "color",
        "id": "cl_bg",
        "label": "Background color",
        "default": "#fff"
      },
      {
        "type": "header",
        "content": "== footer bottom"
      },
      {
          "type": "checkbox",
          "id": "show_bottom",
          "label": "Show footer bottom",
          "default": false
        },
      {
        "type": "richtext",
        "id": "copyright",
        "label": "Copyright"
      },
      {
        "type": "text",
        "id": "title-payment",
        "label": "Title Payment",
        "default": "Payment Method:"
      },
      {
        "type": "image_picker",
        "id": "img_payment",
        "label": "image Payment"
        },
      {	
      "type": "checkbox",
      "id": "show_svg_custom",
      "label": "Show SVG custom",
      "default": false
      },	
     {
         "type": "html",
         "id": "svg_custom",
         "label": "Payment type (SVG)",
         "default":"amazon_payments,american_express,apple_pay,bitcoin,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,google_pay,jcb,klarna,klarna-pay-later,litecoin,maestro,master,paypal,shopify_pay,sofort,visa",
         "info": "amazon_payments,american_express,apple_pay,bitcoin,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,google_pay,jcb,klarna,klarna-pay-later,litecoin,maestro,master,paypal,shopify_pay,sofort,visa"
      },
      {
        "type": "range",
        "id": "svg_height",
        "min": 1,
        "max": 50,
        "step": 1,
        "label": "Height",
        "unit": "px",
        "default": 35
      },
      {
        "type": "header",
        "content": "Advanced settings"
      },
      {
        "type": "text",
        "id": "pd",
        "label": "Padding",
        "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank"
      },
     {
        "type": "header",
        "content": "== Design Mobile Options"
      },
      {
        "type": "text",
        "id": "pd_mb",
        "label": "Padding"
      }
    ],
    "blocks": [
      {
        "type": "mail",
        "name": "Newsletter",
        "limit": 1,
        "settings": [
          
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Newsletter Signup"
          },
          {
            "type": "text",
            "id": "sub_title",
            "label": "Sub Text",
            "default": "Join 20.000+ subscribers and get a new discount coupon on every Saturday. Updates information on Sales and Offers."
          },
          {
            "type": "text",
            "id": "sub_title2",
            "label": "Sub Text 2",
            "default": "Subscribe for Uminex and get 20% off your first purchase."
          },
		  {
            "type": "color", 
            "id": "cl_text",
            "label": "Color Text",
            "default": "#515D66"
            },	
          {
            "type": "color", 
            "id": "cl_border",
            "label": "Color border",
            "default": "#515D66"
            },
          {
        "type": "select",
        "id": "col",
        "default": "33%",
        "options": [
        {
        "value": "16%",
        "label": "16%"
        },  
        {
        "value": "25%",
        "label": "25%"
        },
        {
        "value": "33%",
        "label": "33%"
        },
         {
        "value": "42%",
        "label": "42%"
        }, 
        {
        "value": "50%",
        "label": "50%"
        },
        {
        "value": "58%",
        "label": "58%"
        }, 
        {
        "value": "66%",
        "label": "66%"
        },
        {
        "value": "75%",
        "label": "75%"
        },
        {
        "value": "100%",
        "label": "100%"
        }
        ],
        "label": "Container width:"
        }
        ]
      },	
      {
        "type": "menu",
        "name": "Menu",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Quick links"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Add menu"
          },	       
          {
        "type": "select",
        "id": "col",
        "default": "33%",
        "options": [
        {
        "value": "16%",
        "label": "16%"
        },  
        {
        "value": "25%",
        "label": "25%"
        },
        {
        "value": "33%",
        "label": "33%"
        },
         {
        "value": "42%",
        "label": "42%"
        }, 
        {
        "value": "50%",
        "label": "50%"
        },
        {
        "value": "58%",
        "label": "58%"
        }, 
        {
        "value": "66%",
        "label": "66%"
        },
        {
        "value": "75%",
        "label": "75%"
        },
        {
        "value": "100%",
        "label": "100%"
        }
        ],
        "label": "Container width:"
        }
          
        ]
      },
      
      {
        "type": "contact_information",
        "name": "Contact information",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Contact information"
          },
          {
            "type": "text", 
            "id": "text1",
            "label": "Text",
            "default": "Got Question? Call us 24/7"
            },
          {
            "type": "text",
            "id": "text2",
            "label": "Address",
            "default": "268 St, South New York/NY 98944, United States <br>Customersupport@example.com "
          },
          {
          "type": "checkbox",
          "id": "show_phone",
          "label": "Show Phone",
          "default": true
          },
          {
          "type": "color", 
          "id": "cl_phone",
          "label": "Color Phone",
          "default": "#2B38D1"
          },
          {
          "type": "checkbox",
          "id": "show_email",
          "label": "Show Email",
          "default": true
          },	       
          {
        "type": "select",
        "id": "col",
        "default": "33%",
        "options": [
        {
        "value": "16%",
        "label": "16%"
        },  
        {
        "value": "25%",
        "label": "25%"
        },
        {
        "value": "33%",
        "label": "33%"
        },
         {
        "value": "42%",
        "label": "42%"
        }, 
        {
        "value": "50%",
        "label": "50%"
        },
        {
        "value": "58%",
        "label": "58%"
        }, 
        {
        "value": "66%",
        "label": "66%"
        },
        {
        "value": "75%",
        "label": "75%"
        },
        {
        "value": "100%",
        "label": "100%"
        }
        ],
        "label": "Container width:"
        }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Talk about your business"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>Share store details, promotions, or brand content with your customers.</p>"
          },	       
          {
        "type": "select",
        "id": "col",
        "default": "33%",
        "options": [
        {
        "value": "16%",
        "label": "16%"
        },  
        {
        "value": "25%",
        "label": "25%"
        },
        {
        "value": "33%",
        "label": "33%"
        },
         {
        "value": "42%",
        "label": "42%"
        }, 
        {
        "value": "50%",
        "label": "50%"
        },
        {
        "value": "58%",
        "label": "58%"
        }, 
        {
        "value": "66%",
        "label": "66%"
        },
        {
        "value": "75%",
        "label": "75%"
        },
        {
        "value": "100%",
        "label": "100%"
        }
        ],
        "label": "Container width:"
        }
        ]
      },
      
      {
      "type": "logo-footer",
      "name": "Logo Footer",
      "settings": [
        {
          "type": "checkbox",
          "id": "use_logo_footer",
          "label": "Ise Logo footer",
          "default": false
          },
        {
        "type": "image_picker",
        "id": "logo_footer",
        "label": {
        "en": "Logo image at other footer"
        }
        },
        {
        "type": "range",
        "id": "logo_max_width",
        "label":"Custom logo width",
        "min": 50,
        "max": 250,
        "step": 5,
        "unit": "px",
        "default": 115
       },
        {
          "type": "checkbox",
          "id": "use_social",
          "label": "Display social on top bar",
          "default": false,
          "info":"Note: you can edit social at 'Theme settings' -> 'Social media'"
          },
		  {
            "type": "text",
            "id": "title_social",
            "label": "Title Social",
            "default": "Social Media:"
          },			
          {
          "type": "select",
          "id": "type_social",
          "label": "Show sharing Or link:",
          "options": [
          {
          "value": "1",
          "label": "Social link"
          },
          {
          "value": "2",
          "label": "Social sharing"
          }
          ],
          "default": "2"
          },
          {
        "type": "select",
        "id": "col",
        "default": "33%",
        "options": [
        {
        "value": "16%",
        "label": "16%"
        },  
        {
        "value": "25%",
        "label": "25%"
        },
        {
        "value": "33%",
        "label": "33%"
        },
         {
        "value": "42%",
        "label": "42%"
        }, 
        {
        "value": "50%",
        "label": "50%"
        },
        {
        "value": "58%",
        "label": "58%"
        }, 
        {
        "value": "66%",
        "label": "66%"
        },
        {
        "value": "75%",
        "label": "75%"
        },
        {
        "value": "100%",
        "label": "100%"
        }
        ],
        "label": "Container width:"
        }
      ]
      },  
      {
        "type": "html",
        "name": "HTML",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "HTML"
          },
          {
            "type": "html",
            "id": "content",
            "label": "Content",
            "default": "<p>html code</p>"
          },
          {
        "type": "select",
        "id": "col",
        "default": "33%",
        "options": [
        {
        "value": "16%",
        "label": "16%"
        },  
        {
        "value": "25%",
        "label": "25%"
        },
        {
        "value": "33%",
        "label": "33%"
        },
         {
        "value": "42%",
        "label": "42%"
        }, 
        {
        "value": "50%",
        "label": "50%"
        },
        {
        "value": "58%",
        "label": "58%"
        }, 
        {
        "value": "66%",
        "label": "66%"
        },
        {
        "value": "75%",
        "label": "75%"
        },
        {
        "value": "100%",
        "label": "100%"
        }
        ],
        "label": "Container width:"
        }
        ]
      },
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Title images"
          },
          {
          "type": "image_picker",
          "id": "image",
          "label": "image"
          },
          {
          "type": "range",
          "id": "max_width",
          "label":"Custom width image",
          "min": 50,
          "max": 250,
          "step": 5,
          "unit": "px",
          "default": 115
          },
          {
        "type": "select",
        "id": "col",
        "default": "33%",
        "options": [
        {
        "value": "16%",
        "label": "16%"
        },  
        {
        "value": "25%",
        "label": "25%"
        },
        {
        "value": "33%",
        "label": "33%"
        },
         {
        "value": "42%",
        "label": "42%"
        }, 
        {
        "value": "50%",
        "label": "50%"
        },
        {
        "value": "58%",
        "label": "58%"
        }, 
        {
        "value": "66%",
        "label": "66%"
        },
        {
        "value": "75%",
        "label": "75%"
        },
        {
        "value": "100%",
        "label": "100%"
        }
        ],
        "label": "Container width:"
        }
          
        ]
      }
    ]
  }
{% endschema %}
